#workskin .container {
  display: flex;
}

#workskin .container .item {
  width: 100%;
  max-width: 450px;
  height: 500px;
  margin: auto;
}

#workskin .container .item img {
  width: 100%;
  border-radius: 20px;
}

#workskin .container .item iframe {
  width: 100%;
  height: 30px;
}
